{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    "babel-plugin-transform-typescript-metadata",
    "babel-plugin-parameter-decorator",
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
